{% set info = app.request.get('info', 'upload') %}

{% for flash in app.session.flashbag.get('alert') %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flash }}
    </div>
{% endfor %}